.App * {
    .active {
        border-bottom: 5px solid #5584ac !important;
        border-radius: 255px 15px 225px 15px/15px;
    }

    @media only screen and (min-width: 1024px){
        .active {
            border-bottom: 5px solid #5584ac ;
           
        }
    }

    .greeting {
        animation: greeting 1s ease 0s 1 normal forwards; 
    }

    @keyframes greeting {
        0% {
            opacity: 0;
            transform: translateX(-250px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    .name {
        font-family: Pacifico;
        animation: name 1s ease 1s 1 normal forwards;
        opacity: 0;
    }

    @keyframes name {
        0% {
            opacity: 0;
            transform: rotate(-540deg) scale(2);
        }

        100% {
            opacity: 1;
            transform: rotate(0) scale(1);
        }
    }
    .profession {
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: 2px solid #d7d0cb; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: 1px; /* Adjust as needed */
        animation: typing 3.5s steps(30, end),
            blink-caret 0.5s step-end infinite;
        visibility: hidden;
        animation-delay: 2s;
        animation-fill-mode: forwards;
    }

    @keyframes typing {
        from {
            visibility: hidden;
            width: 0;
        }
        to {
            visibility: visible;
            width: 60%;
        }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {
        from,
        to {
            border-color: transparent;
        }
        50% {
            border-color: #d7d0cb;
        }
    }

    @media only screen and (min-width: 290px) {
        @keyframes typing {
            from {
                visibility: hidden;
                width: 0;
            }
            to {
                visibility: visible;
                width: 100%;
            }
        }
    }

    @media only screen and (min-width: 425px) {
        @keyframes typing {
            from {
                visibility: hidden;
                width: 0;
            }
            to {
                visibility: visible;
                width: 100%;
            }
        }
    }
    @media only screen and (min-width: 768px) {
        @keyframes typing {
            from {
                visibility: hidden;
                width: 0;
            }
            to {
                visibility: visible;
                width: 100%;
            }
        }

        .active {
            border-bottom: 5px solid #133b5c;
            border-radius: 255px 15px 225px 15px/15px;
        }
    }
    @media only screen and (min-width: 1024px) {
        @keyframes typing {
            from {
                visibility: hidden;
                width: 0;
            }
            to {
                visibility: visible;
                width: 100%;
            }
        }
    }
    @media only screen and (min-width: 1440px) {
        @keyframes typing {
            from {
                visibility: hidden;
                width: 0;
            }
            to {
                visibility: visible;
                width: 100%;
            }
        }
    }

    .submitBtn {
        border-radius: 52px;
        background: linear-gradient(145deg, #143f62, #113553);
        box-shadow: 5px 5px 10px #0e2c44, -5px -5px 10px #184a74;
    }
    .submitBtn:hover {
        border-radius: 52px;
        background: #133b5c;
        box-shadow: inset 26px 26px 51px #081a28, inset -26px -26px 51px #1e5c90;
    }
    .submitBtn:active {
        color: #e00543;
    }

    .one {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        box-shadow: 10px 15px 50px rgba(253, 253, 253, 0.2);
        animation: morphing 8s infinite;
    }

    .two {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        box-shadow: 10px 15px 50px rgba(253, 253, 253, 0.2);
        animation: morphing 12s infinite;
    }

    .three {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        box-shadow: 10px 15px 50px rgba(253, 253, 253, 0.2);
        animation: morphing 9s infinite;
    }

    .four {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        box-shadow: 10px 15px 50px rgba(253, 253, 253, 0.2);
        animation: morphing 12s infinite;
    }

    .five {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        box-shadow: 10px 15px 50px rgba(253, 253, 253, 0.2);
        animation: morphing 7s infinite;
    }

    .six {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        box-shadow: 10px 15px 50px rgba(253, 253, 253, 0.2);
        animation: morphing 11s infinite;
    }

    .seven {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        box-shadow: 10px 15px 50px rgba(253, 253, 253, 0.2);
        animation: morphing 15s infinite;
    }

    .eight {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        box-shadow: 10px 15px 50px rgba(253, 253, 253, 0.2);
        animation: morphing 10s infinite;
    }

    .nine {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        box-shadow: 10px 15px 50px rgba(253, 253, 253, 0.2);
        animation: morphing 16s infinite;
    }

    .ten {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        box-shadow: 10px 15px 50px rgba(253, 253, 253, 0.2);
        animation: morphing 12s infinite;
    }
    .eleven {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        box-shadow: 10px 15px 50px rgba(253, 253, 253, 0.2);
        animation: morphing 12s infinite;
    }
    .twelve {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        box-shadow: 10px 15px 50px rgba(253, 253, 253, 0.2);
        animation: morphing 12s infinite;
    }

    @keyframes morphing {
        0% {
            border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
            box-shadow: 15px 15px 50px rgba(253, 250, 250, 0.2);
        }
        25% {
            border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
        }
        50% {
            border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
            box-shadow: -10px -5px 50px rgba(246, 244, 244, 0.2);
        }
        75% {
            border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
        }
    }
    .top {
        width: 100vw;
        display: flex;
        align-items: center;

        text-decoration: none;
    }
    .top:visited {
        text-decoration: none;
    }
    .top:hover {
        text-decoration: none;
    }

    .shadowGlasmorphic {
        box-shadow: 2px 3px 11px 10px rgba(240, 229, 229, 0.75);
        -webkit-box-shadow: 2px 3px 11px 10px rgba(240, 229, 229, 0.75);
        -moz-box-shadow: 2px 3px 11px 10px rgba(240, 229, 229, 0.75);
    }
}
