.App {
    .active {
        border-bottom: 5px solid #5584ac !important;
        border-radius: 255px 15px 225px 15px/15px;
    }
    .greeting {
        animation: greeting 1s ease 0s 1 normal forwards;
    }
    
    @keyframes greeting {
        0% {
            opacity: 0;
            transform: translateX(-250px);
        }
    
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    .name {
        font-family: Pacifico;
        animation: name 1s ease 1s 1 normal forwards;
        opacity: 0;
    }
    
    @keyframes name {
        0% {
            opacity: 0;
            transform: rotate(-540deg) scale(2);
        }
    
        100% {
            opacity: 1;
            transform: rotate(0) scale(1);
        }
    }
    .profession {
      
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: 2px solid #d7d0cb; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: 1px; /* Adjust as needed */
        animation: 
          typing 3.5s steps(30, end),
          blink-caret .5s step-end infinite;
          visibility: hidden;
          animation-delay: 2.0s;
          animation-fill-mode: forwards;
    
    
    }
    
    @keyframes typing {
        from { visibility: hidden; width: 0 }
        to { visibility: visible; width: 60% }
      }
      
      /* The typewriter cursor effect */
      @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: #d7d0cb }
      }
    
      @media only screen and (min-width: 375px) {
        @keyframes typing {
            from { visibility: hidden; width: 0 }
            to { visibility: visible; width: 100% }
          }
        
    
      }
    
      @media only screen and (min-width: 425px) {
        @keyframes typing {
            from { visibility: hidden; width: 0 }
            to { visibility: visible; width: 100% }
          }
      }
      @media only screen and (min-width: 768px) {
        @keyframes typing {
            from { visibility: hidden; width: 0 }
            to { visibility: visible; width: 100% }
          }
          
          .active {
        border-bottom: 5px solid #133b5c;
        border-radius: 255px 15px 225px 15px/15px;
        
    }
      }
      @media only screen and (min-width: 1024px) {
        @keyframes typing {
            from { visibility: hidden; width: 0 }
            to { visibility: visible; width: 55% }
          }
      }
      @media only screen and (min-width: 1440px) {
        @keyframes typing {
            from { visibility: hidden; width: 0 }
            to { visibility: visible; width: 100% }
          }
      }

      .submitBtn {
        border-radius: 52px;
        background: linear-gradient(145deg, #143f62, #113553);
        box-shadow:  5px 5px 10px #0e2c44,
                     -5px -5px 10px #184a74;
      }
    .submitBtn:hover {
    border-radius: 52px;
    background: #133b5c;
    box-shadow: inset 26px 26px 51px #081a28,
                inset -26px -26px 51px #1e5c90;
    
      }
      .submitBtn:active {
    color: #E00543
      }
     
    
      .bubbles {
        display: grid;
        gap: 20px;
        grid-template-areas:
            ". . . . . . ."
            ". one six ten two two ."
            ". . five . two two ."
            ". four seven three three . ."
            ". nine . three three eight ."
            ". . . . . . . ";
        grid-template-columns: 5vh 1fr 1fr 1fr 1fr 1fr 5vh;
        grid-template-rows: 4vw 1fr 1fr 1fr 1fr 4vw;
        
      }
    
    
        .grid {
            width: 300px;
            height: 300px;
            object-fit: cover;
            background-color: #133b5c;
            font-size: 4rem;
            color: #d7d0cb;
            display: flex;
            justify-content: center;
            align-items: center;
            border: #5584AC 8px solid;
        }
    
        .one {
            grid-area: one;
            padding: 20px;
            border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
            box-shadow: 10px 15px 50px rgba(253, 253, 253, 0.2);
            animation: morphing 8s infinite;
            overflow: hidden;
            background-color: #66e0e0;
            background-image: url(/images/zubisLuftmasche.png);
            background-size: 120%;
            background-repeat: no-repeat;
            background-position: center;
        }
    
            @keyframes morphing {
                0% {
                    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
                    box-shadow: 15px 15px 50px rgba(253, 250, 250, 0.2);
                }
                25% {
                    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
                }
                50% {
                    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
                    box-shadow: -10px -5px 50px rgba(246, 244, 244, 0.2);
                }
                75% {
                    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
                }
            }
        
        .one:hover {
            outline: #133b5c 12px solid;
        }
    
        .two {
            grid-area: two;
            width: 100%;
            height: 100%;
            border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
            box-shadow: 10px 15px 50px rgba(253, 253, 253, 0.2);
            animation: morphing 12s infinite;
            overflow: hidden;
            background-color: #FDF0D5;
            background-image: url(/images/deutschifySite.png);
            background-size: 120%;
            background-repeat: no-repeat;
            background-position: center;
        }
            @keyframes morphing {
                0% {
                    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
                    box-shadow: 15px 15px 50px rgba(253, 250, 250, 0.2);
                }
                25% {
                    border-radius: 40% 60% 60% 20% / 20% 40% 50% 80%;
                }
                50% {
                    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
                    box-shadow: -10px -5px 50px rgba(246, 244, 244, 0.2);
                }
                75% {
                    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
                }
            }
        
    
        .two:hover {
            outline: #133b5c 12px solid;
        }
        .three {
            grid-area: three;
            width: 100%;
            height: 100%;
            border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
            box-shadow: 10px 15px 50px rgba(253, 253, 253, 0.2);
            animation: morphing 9s infinite;
            overflow: hidden;
        }
            @keyframes morphing {
                0% {
                    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
                    box-shadow: 15px 15px 50px rgba(253, 250, 250, 0.2);
                }
                25% {
                    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
                }
                50% {
                    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
                    box-shadow: -10px -5px 50px rgba(246, 244, 244, 0.2);
                }
                75% {
                    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
                }
            }
        
        .three:hover {
            outline: #133b5c 12px solid;
        }
        .four {
            grid-area: four;
            border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
            box-shadow: 10px 15px 50px rgba(253, 253, 253, 0.2);
            animation: morphing 12s infinite;
            overflow: hidden;
            background-color: #66e0e0;
            background-image: url(/images/bmi.png);
            background-size: 75%;
            background-repeat: no-repeat;
            background-position: center;
        }
    
        @keyframes morphing {
            0% {
                border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
                box-shadow: 15px 15px 50px rgba(253, 250, 250, 0.2);
            }
            25% {
                border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
            }
            50% {
                border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
                box-shadow: -10px -5px 50px rgba(246, 244, 244, 0.2);
            }
            75% {
                border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
            }
        }
    
    .four:hover {
        outline: #133b5c 12px solid;
    }
    .five {
        grid-area: five;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        box-shadow: 10px 15px 50px rgba(253, 253, 253, 0.2);
        animation: morphing 7s infinite;
        overflow: hidden;
        background-color: #a3f7bf;
        background-image: url(/images/mathenerds.png);
        background-size: 150%;
        background-repeat: no-repeat;
        background-position: 50% center;
    }
        @keyframes morphing {
            0% {
                border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
                box-shadow: 15px 15px 50px rgba(253, 250, 250, 0.2);
            }
            25% {
                border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
            }
            50% {
                border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
                box-shadow: -10px -5px 50px rgba(246, 244, 244, 0.2);
            }
            75% {
                border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
            }
        }
    
    .five:hover {
        outline: #133b5c 12px solid;
    }
    .six {
        grid-area: six;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        box-shadow: 10px 15px 50px rgba(253, 253, 253, 0.2);
        animation: morphing 11s infinite;
        overflow: hidden;
        background-color: #d8c298;
        background-image: url(/images/theindianbride.png);
        background-size: 120%;
        background-repeat: no-repeat;
        background-position: 50% center;
    }
        @keyframes morphing {
            0% {
                border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
                box-shadow: 15px 15px 50px rgba(253, 250, 250, 0.2);
            }
            25% {
                border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
            }
            50% {
                border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
                box-shadow: -10px -5px 50px rgba(246, 244, 244, 0.2);
            }
            75% {
                border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
            }
        }
    
    .six:hover {
        outline: #133b5c 12px solid;
    }
    .seven {
        grid-area: seven;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        box-shadow: 10px 15px 50px rgba(253, 253, 253, 0.2);
        animation: morphing 15s infinite;
        overflow: hidden;
        background-image: url(/images/sticky.png);
        background-size: 180%;
        background-repeat: no-repeat;
        background-position: 50% center;
    }
        @keyframes morphing {
            0% {
                border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
                box-shadow: 15px 15px 50px rgba(253, 250, 250, 0.2);
            }
            25% {
                border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
            }
            50% {
                border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
                box-shadow: -10px -5px 50px rgba(246, 244, 244, 0.2);
            }
            75% {
                border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
            }
        }
    
    .seven:hover {
        outline: #133b5c 12px solid;
    }
    .eight {
        grid-area: eight;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        box-shadow: 10px 15px 50px rgba(253, 253, 253, 0.2);
        animation: morphing 10s infinite;
        overflow: hidden;
    }
        @keyframes morphing {
            0% {
                border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
                box-shadow: 15px 15px 50px rgba(253, 250, 250, 0.2);
            }
            25% {
                border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
            }
            50% {
                border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
                box-shadow: -10px -5px 50px rgba(246, 244, 244, 0.2);
            }
            75% {
                border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
            }
        }
    
    .eight:hover {
        outline: #133b5c 12px solid;
    }
    
    .nine {
        grid-area: nine;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        box-shadow: 10px 15px 50px rgba(253, 253, 253, 0.2);
        animation: morphing 16s infinite;
        overflow: hidden;
    }
        @keyframes morphing {
            0% {
                border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
                box-shadow: 15px 15px 50px rgba(253, 250, 250, 0.2);
            }
            25% {
                border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
            }
            50% {
                border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
                box-shadow: -10px -5px 50px rgba(246, 244, 244, 0.2);
            }
            75% {
                border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
            }
        }
    
    
    .nine:hover {
        outline: #133b5c 12px solid;
    }
    
    .ten {
        grid-area: ten;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        box-shadow: 10px 15px 50px rgba(253, 253, 253, 0.2);
        animation: morphing 12s infinite;
        overflow: hidden;
        background-color: #87c0cd;
        background-image: url(../../images/derDieDas.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
        @keyframes morphing {
            0% {
                border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
                box-shadow: 15px 15px 50px rgba(253, 250, 250, 0.2);
            }
            25% {
                border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
            }
            50% {
                border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
                box-shadow: -10px -5px 50px rgba(246, 244, 244, 0.2);
            }
            75% {
                border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
            }
        }
    
    .ten:hover {
        outline: #133b5c 12px solid;
    }
    
    
    .top {
    width: 100vw;
    display: flex;
    align-items: center;
    
    text-decoration: none;
    }
    .top:visited {
    text-decoration: none;
    }
    .top:hover {
    text-decoration: none;
    }
    
// .Background {
//     box-shadow: 0 0 50px 50px #133b5c inset;
//     border-radius: 25%;
// }
.shadowGlasmorphic {
    box-shadow: 2px 3px 11px 10px rgba(240,229,229,0.75);
-webkit-box-shadow: 2px 3px 11px 10px rgba(240,229,229,0.75);
-moz-box-shadow: 2px 3px 11px 10px rgba(240,229,229,0.75);
}
    
    
}
